<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/flask_app/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Guild Member Hub</title>
</head>
<body>
    <div class="nav">
        <img src="/flask_app/static/guild.png" alt="Guild" class="logo">
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="active">My Profile</a></li>
            <li><a href="#">Find Connections</a></li>
            <li><button class="btn">Sign Out</button></li>
        </ul>
    </div>
    <h1 class="subtitle">Guild Member Hub</h1>
    <script src="script.js"></script>
</body>
</html>