<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/flask_app/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Guild Support Central</title>
</head>
<body>
    <div class="nav">
        <img src="/flask_app/static/guild.png" alt="Guild" class="logo">
        <ul class="nav-links">
            <li><a href="/hub_login" class="btn">Sign in to Guild Member Hub</a></li>
        </ul>
    </div>
    <h1 class="subtitle">Guild Support Central</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3>Employer</h3>
                    <ul class="list">
                        <li>Why am I ineligible? </li>
                        <li> How does the commitment period and repayment policy apply to my studies?</li>
                        <li> Where can I recommend programs for consideration?</li>
                        <li> Questions about benefits offered prior to partnering with Guild</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div>
                    <h3>Guild</h3>
                    <ul class="list">
                        <li>What are my employer's eligibility requirements? </li>
                        <li> Which programs are eligible for funding? </li>
                        <li> How is funding applied to my program? </li>
                        <li> When can I expect payments to be made? </li>
                    </ul>
                </div>            
            </div>
            <div class="col">
                <div>
                    <h3>Learning Partner</h3>
                    <ul class="list">
                        <li>What is the duration of my program? </li>
                        <li>What careers align with this program? </li>
                        <li>What courses do I need to take? </li>
                        <li>How can I make changes to my course schedule? </li>
                        <li>How should I fill out my FAFSA application? </li>
                    </ul>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div id="textbox">
                    <p>Achieving your personal and professional goals is best done with the support of others. </p> 
                    <p>You are not alone! </p>
                    <p>Not only do you have your school, your employer, and Guild as a resource, but you also have a community of hardworking adults by your side.</p>
                </div>
            </div>
            <div class="col-3">
                <img src="/flask_app/static/wave.png" alt="Guild">
            </div>
            <div class="col-2">
                <div id="textbox">
                    <p>The Guild Member Hub is designed as a safe space to celebrate accomplishments and find community in fellow learners. Join the Guild Member Hub to connect and celebrate with others on the journey of lifelong learning!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id="cookies">
            <p>Guild uses cookies by default to improve your user experience and to analyze performance and ensure proper functioning of our website. See our cookie policy for more information (including how we share your information with social media, advertising, and analytics partners), or visit our preference center to change your cookie settings.  <a href="https://www.guild.com/cookie-policy">Cookie Policy</a></p>
            <button class="btn" onclick="accept()">Accept Cookies</button>
        </div>
    </div>
    <script src="/flask_app/static/script.js"></script>
</body>
</html>