/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f2ea;
    font-family: Helveesti, "Helvetica-neue", Helvetica, Arimo, Arial, sans-serif;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Basic button with shadow */
.btn, .btn-2, #files {
    background-color: #d5692d;
    color: black;
    border: none;
    border-radius: 25px;
    min-width: 125px;
    height: auto;
    word-break: break-word;
    word-wrap: break-word;
    padding: 12px 10px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 550;
}

.btn:hover {
    opacity: 0.8;
}

.btn-2, #files {
    width: 100%;
    margin: 10px 0px;
}

.logo {
    height: 35px;
    background-color: #d5692d;
    color: black;
    font-size: 16px;
    margin-left: 20px;
}

.row {
    display: flex;
    align-items: center;
}
.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 3px solid;
    background-color: #fdf18b;
    color: black;
}
.col-2 {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 3px solid;
    background-color: #abe69e;
    color: black;
}
.col-3 {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.nav {
    background-color: #f8f2ea;
    height: 80px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.nav a {
    color: black; 
    text-decoration: none;
}
.nav-title {
    margin-left: 20px;
}

.subtitle, h2 {
    font-size: 24px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid black;
    font-family: Helveesti, "Helvetica-neue", Helvetica, Arimo, Arial, sans-serif;
}

.header a, .card a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size:18px;
}

.list {
    padding: 25px;
}

h3, h5, p {
    text-align: center;
}

.form, .file-catcher {
    width:100%; 
    text-align:center;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
}

input, #program_type, #age_range, #comment {
    box-sizing: border-box;
    outline: none;
    width: 200px;
    height: 30px;
    line-height: 60px;
    border-radius: 4px;
}

.post {
    margin-left: 20px;
}

.footer {
    position: fixed; 
    bottom: 5px;
}

#cookies {
    border-top: 3px solid black;
    background-color: #f8f2ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.alert {
    color: red;
}

.leftcolumn {
    float: left;
    width: 60%;
    padding-left: 10px;
}

.rightcolumn {
    float: left;
    width: 40%;
    padding-left: 20px;
    padding-right: 10px;
}

.wave {
    padding: 5px;
}

.card {
    background-color: #ecbdfb;
    border: solid;
    padding: 20px;
    margin-top: 20px;
}

#gallery { 
    line-height:0;
    column-count:4;
    column-gap:5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; 
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}